<header>

    <nav>

        <ul>

            <li> <a href="/home/cad"> Cadastro </a> </li>
            <li> <a href="/home/login"> Login </a> </li>
            <li> <a href="/postagens/cad"> Novo Post </a> </li>
            <li> <a href="/home"> Home </a> </li>

        </ul>

    </nav>

</header>