<header>

    <nav>

        <ul>

            <li> <a href=""> Cadastro </a> </li>
            <li> <a href=""> </a> Login </li>
            <li> <a href="/"> </a> Novo Post </li>
            <li> <a href="/"> Home </a> </li>

        </ul>

    </nav>

</header>