<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens</title>
    
</head>

<body>
    {{> header}}

    <br> <br>

    {{{body}}} 

    <br> <br>

    {{> footer}}
    
</body>

</html>