<!--Formulário de cadastro--> 

<form action="/cad" method="POST"> 

    <h1> Cadastro </h1>

    <p> Nome: </p>
    <input type="text" name="nome">
    <br>

    <p> E-mail: </p>
    <input type="text" name="email">
    <br>

    <p> Usuário: </p>
    <input type="text" name="usuario">
    <br>

    <p> Senha: </p>
    <input type="password" name="senha">
    <br> <br>

    <button type="submit"> Cadastrar usuário </button>

</form>