<h1> Bem vindo ao seu blog pessoal! </h1>

<h2> Acesse sua conta ou se cadastre para começar seus posts </h2>

<br> <br>
<button> <a href="/login"> Entrar </a> </button>
<br> <br>
<button> <a href="/cad"> Cadastrar </a> </button>