<!--Formulário de login--> 

<form action="" method="POST"> 

    <h1 class="hometitulo"> Entre na sua conta: </h1>
    
    <p> E-mail: </p>
    <input type="email" name="email">
    <br>

    <p> Senha: </p>
    <input type="password" name="senha">
    <br> <br>

    <button type="submit"> Entrar </button>

</form>